.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh 60vh;
  gap: 16px;
}

.item-1 {
  background-color: #8a2be2;
}
.item-2 {
  background-color: #e26b2b;
}
.item-3 {
  background-color: #2be2a8;
}
.item-4 {
  background-color: #d0e22b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45% 45%;
  gap: 16px;
  padding: 16px;
}
.item-5 {
  grid-column: 1 / span 2;
  background-color: #e22ba8;
}
.item-6 {
  background-color: #2be290;
}
.item-7 {
  background-color: #2b71e2;
}